{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col s6">

        <div class="card">
            <div class="card-content">
              <span class="card-title">{{ finch.breed }}</span>
              <p><b>Description:</b> {{ finch.description }}</p>
              <p><b>Size:</b> {{ finch.size }}cm</p>
            </div>
            <div class="card-action">
              <a class="green-text" href="{% url 'finches_update' finch.id %}">Edit</a>
              <a class="red-text" href="{% url 'finches_delete' finch.id %}">Delete</a>
            </div>
        </div>
         {% comment %} Photos {% endcomment %}
        {% for photo in finch.photo_set.all %}
          <img class="responsive-img card-panel" src="{{ photo.url }}">
        {% empty %}
          <div class="card-panel brown-text center-align">No Photos Uploaded</div>
        {% endfor %}

        <form action="{% url 'add_photo' finch.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
          {% csrf_token %}
          <input type="file" name="photo-file">
          <br><br>
          <input type="submit" class="btn" value="Upload Photo">
        </form>

    </div>   

    <div class="col s6">
        <!-- Feedign form -->
        <form action="{% url 'add_feeding' finch.id %}" method="POST">
            {% csrf_token %}
            {{ feeding_form.as_p }}
            <input type="submit" value="Add Feeding" class="btn">
        </form>
        <br><hr/>
        <!-- Table of feeding schedule -->
        <table class="striped centered">
            <thead>
                <tr><th>Date</th><th>Meal</th></tr>
            </thead>
            <tbody>
            {% for feeding in finch.feeding_set.all %}
             <tr>
             <td>{{feeding.date}}</td>
                <td>{{feeding.get_food_display}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <hr>
    </div>

</div>

<hr>
<div class="row">
    <div class="col s6">
        <h4><span class="orange-text">{{ finch.breed }}</span> spotted in parks:</h4>
        {% if finch.parks.count %}
            {% for park in finch.parks.all %}
                <div class="card">
                    <div class="card-content">
                         <span class="card-title">
                            <a href="{% url 'parks_detail' park.id %}">{{ park.name }}</a>
                        </span>
                    </div>
                    <div class="card-action">
                <form action="{% url 'unassoc_park' finch.id park.id %}" method="POST">
                  {% csrf_token %}
                  <button type="submit" class="btn red">Delete</button>
                </form>
              </div>
                </div>     
            {% endfor %}
        {% else %}
            <h6>No Parks</h6>
        {% endif %}
    </div>
    <!-- Parks where finch is not spotted yet -->
    <div class="col s6">
        <h3>Not spotted yet at:</h3>
        {% if parks.count %}
          {% for park in parks.all %}
            <div class="card">
              <div class="card-content">
                <span class="card-title">
                    <a href="{% url 'parks_detail' park.id %}">{{ park.name }}</a>
                </span>
              </div>
              <div class="card-action">
                <form action="{% url 'assoc_park' finch.id park.id %}" method="POST">
                  {% csrf_token %}
                  <button type="submit" class="btn">Add</button>
                </form>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <h5>None</h5>
        {% endif %}
</div> 


<script>
    var dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
      format: 'yyyy-mm-dd',
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true
    });

    // add additional JS to initialize select below
   var selectEl = document.getElementById('id_food');
   M.FormSelect.init(selectEl);
</script>

{% endblock %}
