{% extends 'base.html' %}

{% block content %}

<h1>Finch List</h1>

{% for finch in finches %}
<div class="col s12 m7">
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <span class="card-title">{{ finch.breed }}</span>
          <p><b>Description:</b> {{ finch.description }}</p>
          <p><b>Size:</b> {{ finch.size }}cm</p>
        </div>
        <div class="card-action"> 
          <a href="{% url 'detail' finch.id %}">Check <span class="blue-text">{{ finch.breed }}</span></a> 
        </div>
      </div>
    </div>
</div>
{% endfor %}

{% endblock %}

  